<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Book</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-gray p-3 rounded text-center" th:action="@{/books/add}" method="POST">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="author" class="h4 mb-2">Author name</label>
            </div>
            <input type="text" class="form-control" id="author" name="author" />
            <small class="text-danger">Incorrect name!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="ISBN" class="h4 mb-2">ISBN</label>
            </div>
            <input type="text" class="form-control" id="ISBN" name="ISBN" />
            <small class="text-danger">Incorrect ISBN!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="title" class="h4 mb-2">Title</label>
            </div>
            <input type="text" class="form-control" id="title" name="title" />
            <small class="text-danger">Incorrect title!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input type="text" class="form-control" id="description" name="description"/>
            <small class="text-danger">Incorrect description</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" class="form-control" id="price" name="price"/>
            <small class="text-danger">Incorrect price!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="image" class="h4 mb-2">Image</label>
            </div>
            <input type="number" class="form-control" id="image" name="image"/>
            <small class="text-danger">Incorrect image!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="year" class="h4 mb-2">Year</label>
            </div>
            <input type="number" class="form-control" id="year" name="year"/>
            <small class="text-danger">Incorrect year!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="publisher" class="h4 mb-2">Publisher</label>
            </div>
            <select class="browser-default custom-select" id="publisher" name="publisher">
                <option value="">Select category</option>
                <option>Shirt</option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <option>Shirt</option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="languages" class="h4 mb-2">Languages</label>
            </div>
            <input type="text" class="form-control" id="languages" name="languages"/>
            <small class="text-danger">Incorrect languages!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Book</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
