<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Book</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-gray p-3 rounded text-center" th:object="${bookAddBindingModel}" th:action="@{/books/add}" method="POST">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="author" class="h4 mb-2">Author name</label>
            </div>
            <select class="browser-default custom-select" id="author" name="author">
                <option value="">Select author</option>
                <option th:each="a : ${allAuthors}" th:text="${a}" th:field="*{author}" th:value="${a}"></option>
            </select>
            <small th:each="e : ${#fields.errors('author')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="ISBN" class="h4 mb-2">ISBN</label>
            </div>
            <input th:field="*{ISBN}"type="text" class="form-control" id="ISBN" name="ISBN"/>
            <small th:each="e : ${#fields.errors('ISBN')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="title" class="h4 mb-2">Title</label>
            </div>
            <input th:field="*{title}"  type="text" class="form-control" id="title" name="title"/>
            <small th:each="e : ${#fields.errors('title')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input th:field="*{description}" type="text" class="form-control" id="description" name="description"/>
            <small th:each="e : ${#fields.errors('description')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" type="number" class="form-control" id="price" name="price"/>
            <small th:each="e : ${#fields.errors('price')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="year" class="h4 mb-2">Year</label>
            </div>
            <input th:field="*{year}"  type="text" class="form-control" id="year" name="year"/>
            <small th:each="e : ${#fields.errors('year')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="publisher" class="h4 mb-2">Publisher</label>
            </div>
            <select class="browser-default custom-select" id="publisher" name="publisher">
                <option value="">Select publisher</option>
                <option th:each="p : ${allPublishers}" th:text="${p}"  th:value="${p}"></option>
            </select>
            <small th:each="e : ${#fields.errors('publisher')}" th:field="*{publisher}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <option th:each="c : ${allCategories}" th:text="${c}"  th:value="${c}"></option>
            </select>
            <small th:each="e : ${#fields.errors('category')}" th:field="*{category}" th:text="${e}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="languages" class="h4 mb-2">Languages</label>
            </div>
            <input  th:field="*{languages}" type="text" class="form-control" id="languages" name="languages"/>
            <small th:each="e : ${#fields.errors('languages')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Book</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
