<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Author</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-gray p-3 rounded text-center" th:object="${authorAddBindingModel}" th:action="@{/authors/add}" method="POST">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="firstName" class="h4 mb-2">First name</label>
            </div>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName" name="firstName" />
            <small th:each="e : ${#fields.errors('firstName')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="lastName" class="h4 mb-2">Last name</label>
            </div>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastName" name="lastName" />
            <small th:each="e : ${#fields.errors('lastName')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="about" class="h4 mb-2">About</label>
            </div>
            <input th:field="*{about}" type="text" class="form-control" id="about" name="about" />
            <small th:each="e : ${#fields.errors('about')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="birthYear" class="h4 mb-2">Year</label>
            </div>
            <input th:field="*{birthYear}" type="text" class="form-control" id="birthYear" name="birthYear"/>
            <small th:each="e : ${#fields.errors('birthYear')}" th:text="${e}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="nationality" class="h4 mb-2">Nationality</label>
            </div>
            <input th:field="*{nationality}" type="text" class="form-control" id="nationality" name="nationality"/>
            <small th:each="e : ${#fields.errors('nationality')}" th:text="${e}" class="text-danger"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Author</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
