<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Order</span></h1>
<hr class="hr-3"/>
<form class="mx-auto w-25 bg-gray p-3 rounded text-center" th:action="@{/orders/list}" method="POST">
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="book" class="h4 mb-2">Book</label>
        </div>
        <select class="browser-default custom-select" id="book" name="book">
            <option value="">Select book</option>
            <option th:each="p : ${books}" th:text="${p.title}"  th:value="${p.title}"></option>
        </select>

    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="price" class="h4 mb-2">Price</label>
        </div>
        <input type="number" class="form-control" id="price" name="price" />
        <small class="text-danger">Incorrect Price!</small>
    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="shoppingInfo" class="h4 mb-2">Shopping details</label>
        </div>
        <input type="text" class="form-control" id="shoppingInfo" name="shoppingInfo"/>
    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="paymentMethod" class="h4 mb-2">Payment method</label>
        </div>
        <select class="browser-default custom-select" id="paymentMethod" name="paymentMethod">
            <option value="">Select method</option>
            <option th:each="o : ${T(bookstore.shop.model.entity.Payment).values()}"
                    th:text="${o}"  th:value="${o}"></option>
        </select>
    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="address" class="h4 mb-2">Address</label>
        </div>
        <input type="text" class="form-control" id="address" name="address"/>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary text-white mb-3">Add Order</button>
    </div>
</form>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
